/* MAIN */

    :root {
        --backgroundColor: rgb(1, 15, 23);
        --cardBackgroundColor: rgba(12, 23, 36, .8);
        --cardShadowColor: rgba(50, 26, 74, 0.6);
        /* --accentColor: rgba(210, 10, 255, 0.841); */
        /* --accentColor: rgba(10, 161, 255, 0.841); */
        --cardHighlighted: rgba(12, 23, 36, 0.937);
        /* --h3Color: rgb(14, 177, 237); */
        /* --h4Color: rgba(210, 10, 255, 0.841); */
    
        --primary1: rgb(163, 156, 106);
        --primary2: rgb(57, 94, 105);
    }

    body::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 1;
        background-color: transparent;
        background: url(https://w.wallhaven.cc/full/m9/wallhaven-m98zg9.jpg) no-repeat center center;
        /* background: url(https://w.wallhaven.cc/full/m9/wallhaven-m9md18.jpg) no-repeat center center fixed; */
        /* background: url(https://w.wallhaven.cc/full/j3/wallhaven-j3qq15.jpg) no-repeat center center fixed; */
        background-size: cover;
    }

/* NAVBAR */
    nav {
        background-color: var(--cardBackgroundColor);
    }

    .navbar-brand {
        margin-left: 20%;
    }

    .navbar-collapse {
        margin-right: 20%;
    }

    nav a {
        color: var(--primary2) !important;
    }

    nav a.current {
        color: var(--primary1) !important;
    }

    nav input {
        background-color: var(--cardHighlighted) !important;
        border-color: var(--primary2) !important;
        color: var(--primary2) !important;
    }

    nav input:focus {
        border-color: var(--primary1) !important;
    }

    nav .btn {
        color: var(--primary2) !important;
        border-color: var(--primary2) !important;
        background-color: transparent !important;
    }

    nav .btn:hover {
        border-color: var(--primary1) !important;
        color: var(--primary1) !important;
    }

/* CARDSWRAPPER */
    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 2rem;
        box-sizing: unset !important;
        margin: 10vw;
    }

/* CARD */
    .card {
        /* width: 30rem;
        height: 20rem; */
        width: 17vw;
        height: 12vw;
        min-width: 20rem;
        min-height: 14rem;
        background: radial-gradient(
            20rem circle at var(--xPos) var(--yPos),
            var(--primary1),
            /* transparent 35% */
            var(--cardShadowColor)
        );
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        animation-duration: .25s;
        animation-timing-function: ease-in-out;
        animation-delay: calc(var(--xPos)/1);
        animation-iteration-count: 1;
        animation-name: onPageLoad;
    }

    @keyframes onPageLoad {
        0% {
        transform: scale(0%);
        }
        100% {
        transform: scale(100%);
        }
    }


    .card-content {
        background-color: var(--cardBackgroundColor);
        border-radius: inherit;
        transition: all 0.25s;
        height: calc(100% - 0.2rem);
        width: calc(100% - 0.2rem);
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "sitka";
    }

    .card-content:hover {
        background-color: var(--cardHighlighted);
        height: calc(100% - 0.5rem);
        width: calc(100% - 0.5rem);
    }

    .card-content h3 {
        color: var(--primary1);
        font-size: 3.8rem;
        transition: font-size 500ms ease;
        
    }

    .card-content:hover h3 {
        font-size: 2
        
        vw;
    }

    .card-content h4{
        /* transition: height 100ms ease; */
        transition: opacity 500ms ease;
        margin-left: 2vw;
        margin-right: 2vw;
        color: transparent;
        font-size: 1rem;
        /* position: absolute; */
        height: 0%;
        opacity: 0%;
    }

    .card-content:hover h4 {
        color: var(--primary2);
        font-size: 1vw;
        /* position: inherit; */
        height: 100%;
        opacity: 100%;
    }


    @media screen and (max-width: 1500px) {
        .card-content h3 { font-size: 3.5vw; }
        .card-content h4 { font-size: 2vw; }
    }

/* FOOTER */
    footer {
        width: 100%;
        height: 5rem;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: var(--primary2);
        /* position: fixed; */
        bottom: 0;
        background-color: var(--backgroundColor);
    }